@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Kaushan+Script&family=Raleway:wght@300;400;500;600;700&display=swap');

/* fonts */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Raleway',  sans-serif;
    transition: 0.3s;
}
html{
    scroll-behavior: smooth;
}
:root{
    --d-yellow: #c59d5f;
    --light: #f9f9f9;
    --drak: #222;
    --pColor:#a5a5a5;
    --font-Kaushan : 'Kaushan Script', cursive;    
    --font-Great :'Great Vibes', cursive;
}
*::selection{
    background: var(--d-yellow);
    color: #fff;
}
span{
    color: #c59d5f;
    font-family: var(--font-Great);
}
h1,h2,h3,h4,h5,h6{
    font-family: var(--font-Kaushan);
    color: var(--drak);
}
p{
    color: var(--pColor);
    font-size: 14px;
}
.btn{
    color: #f9f9f9;
    padding: 4px 12px;
    border: 2px solid #f9f9f9;
    font-size: 14px;
    transition: 0.3s;
    text-transform: uppercase;
    font-family: 'Raleway',  sans-serif;
    cursor: pointer;
}
.btn:hover{
    background-color: #f9f9f9;
    color: #c59d5f;
}
.bg-overlay:before {
    content: "";
    display: inline-block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(27, 26, 26, 0.65);
    z-index: 1;
}

section{
    padding: 100px 0 0;
    text-align: center;
}
section .contanier{
    width: 85%;
    margin: auto;
}

.sec-head{
    position: relative;
    text-align: center;
    z-index: 2;
}
.sec-head span{
    font-size: 35px;
}
.sec-head h2{
    color: var(--drak);
    font-size: 45px;
    font-weight: normal;
}
.small-sec{
    position: relative;
    padding: 180px 0;
    margin-bottom: 100px;
    width: 100%;
}
.small-sec .sec-head h2{
    color: #fff;
}
.boxs{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.boxs .box{
    flex-basis: 31.5%;
}





.arrow-top,
.arrow-bottom{
    content: '';
    position: absolute;
    background-image: url(../img/arrow-up.png);
    width: 92px;
    height: 20px;
    left: 50%;
    transform: translateX(-50%) rotate(360deg);
    z-index: 2;
}
.arrow-top{
    top: -1px;
    background-image: url(../img/arrow-up.png);
}
.arrow-bottom{
    bottom: -1px;
    background-image: url(../img/arrow-down.png);
}


/* start header */

.header{
    background-color: transparent;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    z-index: 500;
}
nav{  
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .logo{
    color: #fff;
    font-size: 50px;
    font-family: var(--font-Great);
    font-weight: bold;
}
nav ul li{
    display: inline-block;
    margin: 0 30px;
    height: 100px;
    position: relative;
    line-height: 100px;
    cursor: pointer;
}
nav ul li a{
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
}
nav ul li::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #c59d5f;
    width: 0;
    height: 2px;
    transition: 0.3s;
}
nav ul li:hover::after{
    width: 30px;
}
nav ul li.active::after{
    width: 30px;
}
#openMenu,
#book{
        position: absolute;
        top: 50%;
        color:var(--light);
        transform: translateY(-50%);
        border: 2px solid var(--light);
        border-radius: 5px;
        cursor: pointer;
        width: 30px;
        height: 30px;
        line-height: 28px;
        text-align: center;
        background-color: #c59d5f;
        display: none;
}
#openMenu{
    right: 30px;
}
#book{
    right: 75px;
}
/* on scroll menu */
.header.addbg{
    background-color: var(--light);
}
.header.addbg nav ul li a{
    color: var(--drak);
}
.header.addbg nav .btn.drak{
    color: var(--drak);
    border-color: var(--drak);
}
.header.addbg nav .btn.drak:hover{
    background-color: var(--d-yellow);
    color: #fff;
    border-color: #c59d5f;  
}
.header.addbg nav .logo{
    color: var(--drak);
}

/* home start */

.home .home-slider .slide{
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: flex-start;
    background-position: top;
  
}
.home .home-slider .slide1{
    background: url(../img/p-1.jpg);
}
.home .home-slider .slide2{
    background: url(../img/g-6.jpg);
}
.home .home-slider .slide3{
    background: url(../img/p-4.jpg);
}
.home .home-slider .slide1,
.home .home-slider .slide2,
.home .home-slider .slide3{
    background-size: cover;
    background-repeat: no-repeat ;
}
.home .home-slider .slide .content{
    text-align: center;
    width: 70%;
    margin: auto;
    z-index: 2;
}
.home .home-slider .slide .content h3{
    color: #f9f9f9;
    font-size: 30px;
}
.home .home-slider .slide .content h1{
    color: #f9f9f9;
    font-size: 80px;
    padding: 0 0 60px;
}
.home .home-slider .slide .content .btn{
    padding: 15px 25px;
    text-transform: uppercase;
    font-weight: bold;
}
.home .home-slider .slide .content p{
    color: var(--light);
    font-weight: bold;
}
.btn-swip{
    width: 70px !important;
    height: 70px !important;
    color: #fff !important;
    border-radius: 50%;
    transition: 0.3s;
}
.btn-swip:hover{
    background-color: #ffffff40;
}

/* about start */

.about .content .div-p{
    margin: auto;
    padding: 80px;
}
.about .content .div-p p{
    color: var(--drak);
    font-size: 40px;
    font-family: var(--font-Great);
}

.about .content .boxs .box span{    
    font-size: 35px;
    margin-bottom: 15px;
}
.about .content .boxs .box h3{
    color: var(--drak);
    font-size: 30px;
}
.about .content .boxs .box img{
    margin: 25px;
}
.about .content .boxs .box p{
    font-size: 14px;
    color: var(--pColor);
}

/* Recipes start */


.recipes .small-sec{
    background: url(../img/g-4.jpg),no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.recipes .boxs .box img{
    margin-bottom: 15px;
    width: 100%;
}
.recipes .boxs .box span{
    font-size: 30px;
    margin: 0 15px;
}
.recipes .boxs .box h4{
    font-size: 28x;
    color: var(--drak);
    padding: 0 0 20px;
}
.recipes .boxs .box p{
    color: var(--pColor);
    font-size: 14px;
}

/* menu start */
.sec-menu .small-sec{
    background: url(../img/g-4.jpg),no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.sec-menu{
    display: flex;
    flex-direction: column;
}
.sec-menu .content ul{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.sec-menu .content ul li{
    color: var(--drak);
    font-size: 22px;
    font-family: var(--font-Kaushan);
    list-style: none;
    cursor: pointer;
    text-transform: capitalize;
    margin: 0 40px;
}
.sec-menu .content ul li:hover,
.sec-menu .content ul li.active{
    color: #c59d5f;
}
.sec-menu .boxs{
    margin-bottom: 50px;
}
.sec-menu .boxs .box{
    margin-bottom: 50px;
}
.sec-menu .boxs .box img{
    width: 100%;
}

.sec-menu .box .name-price{
    padding: 20px 0 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sec-menu .boxs .box h3{
    font-size: 16px;
    font-family: 'Raleway',  sans-serif;

}
.sec-menu .boxs .box span{
    font-size: 16px;
    font-family: var(--font-Kaushan);
    font-weight: 500;
}
.sec-menu .box p{
    text-align: left;
}
.sec-menu .btn{
    background-color: var(--drak);
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    padding: 15px 40px;
    /* ===================================================== */
    display: block;
width: 100%;
font-weight: bold;
background: linear-gradient(45deg, rgb(16, 137, 211) 0%, rgb(18, 177, 209) 100%);
color: white;
padding-block: 15px;
margin: 20px auto;
border-radius: 20px;
box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 20px 10px -15px;
border: none;
transition: all 0.2s ease-in-out;

}
.sec-menu .btn:hover{
    background-color: var(--d-yellow);
}

/* start team section */
.team{
    padding-bottom: 50px;
}
.team .small-sec{
    background: url(../img/g-4.jpg),no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.team .boxs .box{
    flex-basis: 22%;
    background-color: #fff;
    box-shadow: 0 0 18px rgb(40 40 40 / 12%);
    border-radius: 3px;
}
.team .boxs .box .title{
    padding: 30px 0;
}
.team .boxs .box .title h5{
    font-size: 22px;
    margin-bottom: 14px;
}
.team .boxs .box img{
    width: 100%;
    position: relative;
}

.team .boxs .box .img-text{
    position: relative;   
    overflow: hidden;
}
.team .boxs .box .img-text .text{
    width: 100%;
    height: 100%;
    background-color: #222222cb;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px 15px;
    opacity: 0;
}
.team .boxs .box .img-text .text .cont-text{
    width: 85%;
    bottom: 0;
    position: absolute;
    margin-bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.team .boxs .box .img-text:hover .text{
    opacity: 1;
}

.team .boxs .box .img-text:hover img{
    transform: scale(1.1);
}
.team .boxs .box .img-text .text .social i{
    margin: 15px 10px;
    color: var(--d-yellow);
    cursor: pointer;
}
.team .boxs .box .img-text .text .social i:hover{
    transform: scale(1.1);
    color: #fff;
}


/* guest-book section */
.guest-book .small-sec{
    background: url(../img/g-4.jpg),no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.guest-book .our-gst{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}
.guest-book .our-gst .slide{
    background-color: #ffffff;
    position: relative;
    padding: 30px 20px;
}
.guest-book .swiper-gst-bk .slide .ribbon{
    position: absolute;
    top: 0;
    left: 10%;
}
.stars{
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 25px;
}
.stars i{
    color: #ffc80a;
}
.guest-book .swiper-gst-bk .slide h5{
    font-size: 23px;
    font-weight: normal;
    margin-bottom: 30px;
}
.guest-book .swiper-gst-bk .slide p{
    margin-top: 20px;
    font-style: italic;
}
.swp-pag{
    position: relative;
    bottom: -40px !important;
    color: #222 !important;
}
.swp-pag span{
    background-color:#222 !important;
    border: 2px solid #fff;
    width: 15px;
    height: 15px;

}
/* reservation start */

.reservation{
    position: fixed;
    top: -120%;
    left: 0;
    z-index: 800;
    min-height: 80vh;
    width: 50%;
    /* background: rgba(39, 39, 39, 0.85);   */
    display: flex;
    justify-content: center;
    align-items: center;
/* =================================== */
    /* max-width: 350px; */
  background: #F8F9FD;
  background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(244, 247, 251) 100%);
  border-radius: 40px;
  padding: 25px 25px;
  border: 5px solid rgb(255, 255, 255);
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 30px 30px -20px;
  margin: 100px;
}
.reservation .res-bg{
    width: 65vw;
    background-color: #fff;
    border-radius: 2px;
    padding: 25px 100px;
    position: relative;
    text-align: center;
    
}
.reservation .text h3{
    text-align: center;
    /* color: var(--d-yellow); */
    font-size: 30px; 
    margin-bottom: 50px;

    /* font-size: 11px; */
    color: #0099ff;
    text-decoration: none;
}
.reservation .text{
    width: 80%;
    margin: auto;
    text-align: center;
    margin-bottom: 40px;
    
}
.reservation form{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.reservation form input{
    width: 28%;
    padding: 15px 10px;
    outline: rgb(255, 0, 0);
    margin-bottom: 30px;
    border: 1px solid #a5a5a552;


    /* =============================== */


    width: 100%;
    background: white;
    border: none;
    padding: 15px 20px;
    border-radius: 20px;
    margin-top: 15px;
    box-shadow: #cff0ff 0px 10px 10px -5px;
    border-inline: 2px solid transparent;
}


.reservation form input:focus,
.reservation form textarea:focus
{
    border-color: var(--d-yellow);
    outline: none;
    border-inline: 2px solid #12B1D1;
}
.reservation form textarea{
    padding: 10px;
    width: 100%;
    border: 1px solid #a5a5a552;
    margin-bottom: 20px;
    line-height: 2;
    outline: none;
}
.reservation .btn{
    /* background-color: #222; */
    /* padding: 20px; */
    /* font-weight: bold; */
    cursor: pointer;
    /* width: 100%; */
    letter-spacing: 1.5px;
/* ========================================== */
display: block;
width: 100%;
font-weight: bold;
background: linear-gradient(45deg, rgb(16, 137, 211) 0%, rgb(18, 177, 209) 100%);
color: white;
padding-block: 15px;
margin: 20px auto;
border-radius: 20px;
box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 20px 10px -15px;
border: none;
transition: all 0.2s ease-in-out;
}
#closeResrv{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 30px;
    height: 30px;
    background-color: #c59d5f;
    line-height: 30px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
.reservation.active{
    display: flex;
    top: 0;
}




/* support */
.support{
    background: red;
    width: 47px;
    padding: 7px;
    border-radius: 50px;
    position: fixed;
    z-index: 9999;
    bottom: 100px;
    right: 30px;
text-align: center;
}


.support-btn{
   color: #F4F4F4;
}

/* footer start */

footer{
    background-color: #394150;
}
footer .top-footer{
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
}
footer .top-footer .row{
    width: 25%;
}
footer .top-footer .small-row{
    width: 15%;
}
footer .top-footer .row .hotline{
    display: flex;
    align-items: center;
    margin: 20px 0;
    
}
footer .top-footer .row .hotline i{
    color: #FB0404;
    font-size: 60px;
    margin-right: 15px;
    color: #F4F4F4;
}
footer .top-footer .row .hotline .hotline-text h6{
    color: #dddddd;
    margin-bottom: 10px;
    font-size: 10px;
    font-weight: italic;
}
footer .top-footer .row .hotline .hotline-text span{
    color: var(--main-color);
    font-size: 18px;
    font-weight: italic;
}
footer .top-footer .row p{
    color: #ddd;
    margin-bottom: 10px;
    font-size: 18px;
}
footer .top-footer .small-row{
    width: 15%;
}
footer .top-footer .small-row h6{
    color: #ddd;
    font-size: 15px;
    margin-bottom: 10px;
}
footer .top-footer .small-row .links-row{
    display: flex;
    flex-direction: column;
}
footer .top-footer .small-row .links-row a{
    color: #ddd;
    margin-bottom: 12px;
    position: relative;
    right: 0;
}
footer .top-footer .small-row .links-row a i{
    margin-left: 5px;
}
footer .top-footer .small-row .links-row a:hover{
    color: #FB0404;
    right: 10px;
    text-decoration: underline;
}
footer .payment img{
    filter: grayscale(100%);
    cursor: pointer;
}
footer .payment img:hover{
    filter: grayscale(0%);
}

footer .bottom-footer{
    background-color: #202935;
}
footer .bottom-footer .contanier{
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .bottom-footer .contanier p span{
    color: white;
}








/* media qurey */

@media (max-width: 991px){

    .boxs .box{
        flex-basis: 48%;
        margin-bottom: 40px;
    }

    /* menu section */

    nav{  
        width: 90%;
    }
    nav ul li{
        margin: 15px;
    }
    nav ul li a{
        font-size: 12px;    
    }
    nav .logo{
        font-size: 40px;
    }

    /* home section */

    .home .home-slider .slide .content h3{
        font-size: 30px;
    }
    .home .home-slider .slide .content h1{
        font-size: 50px;
    }
    .team .boxs .box{
        flex-basis: 40%;
    }
    .reservation .res-bg form input{
        width: 45%;
    }
    .footer .contanier .list{
        flex-basis: 40%;
        margin-bottom: 40px;
    }
}
@media (max-width: 768px){
    /* menu section */
    #openMenu,
    #book{
        display: block;
        
    }
    nav .menu{
        position: absolute;
        top: 100%;
        left: 0%;
        right: 0;
        background-color: #444;
        padding: 10px;
        flex-wrap: wrap;
        clip-path: polygon(0 0,100% 0,100% 0, 0 0);
    }
    nav .menu.active{
        clip-path: polygon(0 0,100% 0,100% 100%, 0 100%);
    }
    nav ul{
        width: 100%;
    }
    nav .menu ul li{
        display: block;
        padding: 0 20px;
        margin: 10px;
        width: 100%;
        height: 50px;
        line-height: 50px;
        background-color: #222;
        margin: 10px auto;
        
    }
    .header.addbg nav .menu ul li a{
        color: var(--light);
    }
    nav .menu .btn{
        display: none;
    }
    nav .menu ul li:hover{
        background-color: var(--d-yellow);
    }
    nav .menu ul li::after{
        display: none;
    }
    /* home section */
    .home .home-slider .slide .content h3{
        font-size: 25px;
    }
    .home .home-slider .slide .content h1{
        font-size: 40px;
    }
    .home .home-slider .slide .content .btn{
        font-size: 14px;
        padding: 10px 20px;
    }
    .btn-swip{
        display: none !important;
    }
    .home .home-slider .slide{
        background-position: center;
    }
    .sec-head span{
        font-size: 28px;
    }
    .sec-head h2{
        font-size: 35px;
    }
    .sec-menu .content ul li{
        font-size: 18px;
        margin: 0 15px;
    }
    .guest-book .swiper-gst-bk .slide h5{
        font-size: 20px;
    }
    .reservation .res-bg form input{
        width: 100%;
    }
    .reservation .btn{
        margin-top: 40px;
    }
    .reservation .res-bg{
        width: 80vw;
        overflow: auto;
        height: 70vh;
        padding: 25px 40px;
    }
    .footer .contanier .list{
        flex-basis: 80%;
        margin: auto;
        margin-bottom: 40px;
    }
    .about .content .div-p{
        padding: 30px 0 30px;
    }
    .about .content .div-p p{
        font-size: 25px;
    }

}

@media (max-width: 550px){
    .boxs{
        justify-content: center;
    }
    .boxs .box{
        flex-basis: 100%;
    }
    
    nav .logo{
        font-size: 30px;
    }
    /* home section */

    .home .home-slider .slide .content h3{
        font-size: 20px;
    }
    .home .home-slider .slide .content h1{
        font-size: 30px;
    }
    .home .home-slider .slide .content .btn{
        font-size: 12px;
        padding: 8px 16px;
    }
    .sec-head span{
        font-size: 25px;
    }
    .sec-head h2{
        font-size: 30px;
    }
    .team .boxs .box{
        flex-basis: 80%;
    }
    #closeResrv{
        top: 20px;
        right: 15px;
    }
    
}

/* ---------------------------------------------------- */
#contact {
    background: #f4f2ed;
    padding: 5rem 0;
  }
  
  #contact .container {
    max-width: 900px;
  }
  
  #contact .contact-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  #contact .contact-info {
    width: 50%;
  }
  
  #contact .contact-info div {
    margin: 30px 0;
    line-height: 1.7;
  }
  
  #contact .contact-info h3 {
    font-size: 28px;
    color: #383848;
    margin-bottom: 10px;
  }
  
  #contact .contact-info p {
    color: #9a9a9a;
  }
  
  #contact .contact-info p i {
    color: #e4b95b;
    margin-right: 5px;
  }
  
  #contact .contact-info a i {
    color: #fff;
    background: #383848;
    padding: 10px;
    font-size: 20px;
    border-radius: 50%;
  }
  
  #contact .contact-info a i:hover {
    background-color: #e4b95b;
    color: #383848;
  }
  
  form {
    width: 50%;
  }
  
  form input,
  textarea {
    display: block;
    width: 100%;
    padding: 20px 15px;
    margin: 20px 0;
    border: none;
    background-color: #e3e2dd;
  }
  
  form input:focus,
  textarea:focus {
    outline: none;
  }
  
  form button {
    color: #fff;
  }
  